<html>
<head>
  <title>Enhanced Wars (alpha)</title>
  <script src="<%= asset_path('/app/javascript/game.js') %>"></script>
  <link rel="stylesheet" href="<%= asset_path('/app/stylesheet/game.css') %>"></link>
</head>
<body>
  <canvas id="game"></canvas>
</body>
</html>