<div class="horizontal-nav">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: current=='matches'}">
      <a href="#/matches"><i class="icon-star"></i> Your Games</a>
    </li>
    <li ng-class="{active: current=='join'}">
       <a href="#/join"><i class="icon-th-list"></i> Open Games</a>
    </li>
    <li ng-class="{active: current=='create'}">
      <a href="#/create"><i class="icon-plus-sign"></i> New Game</a>
    </li>
    <li>
      <a href="https://forum.quarterspiral.com/discussions" target="new">Forum <i class="icon-share-alt"></i></a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle"
         data-toggle="dropdown"
         href="#">
          More
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <li class="nav-header">Learn to play</li>
        <li>
          <a href="https://www.youtube.com/watch?v=ihbnx-1LzPE" target="new" class="main-navigation-entry-link">Video Guide</a>
        </li>
        <li>
          <a href="https://forum.quarterspiral.com/discussion/17/how-to-play-enhanced-wars#Item_1" target="new">Beginners Guide on the Forum</a>
        </li>
        <li class="nav-header">More</li>
        
        <li>
          <a href="http://feedback.quarterspiral.com" target="new">Feedback and Suggestions</a>
        </li>
        <li>
          <a href="#/specifications" class="main-navigation-entry-link">Game Specifications</a>
        </li>
        <li class="nav-header">Quarter Spiral</li>
        <li>
          <a href="https://twitter.com/QuarterSpiral" target="new">Follow us on Twitter</a>
        </li>
        <li>
            <a href="http://blog.quarterspiral.com" target="new">Read the Blog</a>
        </li>
        <li>
            <a href="http://blog.quarterspiral.com" target="new">About Quarter Spiral</a>
        </li>
      </ul>
    </li>

  </ul>
</div>