<!-- Show when not logged in -->
<div ng-show="notLoggedIn()">
  <div class="fontpage-header">
    <div class="container">
      <div class="row">
        <div class="span7">
          <div class="logo-image">Enahced Wars Logo</div>
        </div>
        <div class="span3">
          <div class="big-front-page-link-box">
            <a href="#" class="login-button" ng-click="login();$event.preventDefault();">
              <strong>Play Now</strong>
              Login or Sign up for free
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="span6 offset3">
        <div class="trailer">
          <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
            <iframe src="//www.youtube.com/embed/8aoFDMN_9Ps?rel=0" frameborder="0"></iframe>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="frontpage-teaser-text login-prompt">
          <p>Enhanced Wars is a turn based strategy game. Challenge your friends or make new ones in a tactical battle that unfolds at your pace.</p>
        </div>
      </div>



    </div>

  </div>

</div>