<div class="row">

  <div class="span10 offset1">
    <h1 class="section-header">Your Games</h1>
  </div>

  <div class="span6 offset1">

    <div class="game-list-container">
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, matchData) in playerMatches | filter:{currentTurn: 'true'}" class="game-list-entry">
          <a href="#/match" class="game-list-entry-link current-turn">
            <i class="icon-chevron-right icon-white pull-right"></i>
            <span class="pace-label">{{matchUuid}} game ({{matchData.state}})</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="game-list-container">
      <h2 class="section-header">Waiting for other players (TODO!)</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="game in playerGames | filter:{currentTurn: 'false'}" class="game-list-entry">
          <a href="#/gameWaiting" class="game-list-entry-link">
            <i class="icon-chevron-right icon-white pull-right"></i>
            <span class="pace-label">{{game.pace}} game</span>
            <span class="waiting-for-label">Waiting for {{game.playing}}</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="span3 offset1">
    <a href="#/join" class="new-game-button"><i class="icon-plus icon-white pull-right"></i> New game</a>
  </div>
</div>