<div class="row">
  <div class="span7 offset1">

    <h1 class="section-header join-header">Join a game</h1>

    <div class="game-list-container">
      <div ng-init="selectedPace = 'fast'" class="pace-tabs">
        <a ng-click="selectedPace = 'fast'" class="pace-tab" ng-class="{active:selectedPace == 'fast'}">Fast</a>
        <a ng-click="selectedPace = 'medium'" class="pace-tab" ng-class="{active:selectedPace == 'medium'}">Medium</a>
        <a ng-click="selectedPace = 'slow'" class="pace-tab" ng-class="{active:selectedPace == 'slow'}">Slow</a>
      </div>
      <div class="no-games-warning" ng-hide="countPublicMatches(selectedPace) > 0">
        There are currently no {{selectedPace}} games. You can <a href="#/create">create one.</a>
      </div>
      <ul class="game-list unstyled">
        <li ng-repeat="matchUuid in publicMatches()" class="game-list-entry" ng-show="matchData(matchUuid).pace == selectedPace">
          <div ng-include="'/app/partials/_join-match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

  </div>
  <div class="span3 offset1">

    <h1 class="section-header">Create your own game</h1>
    <a href="#/create" class="create-custom-game-link"><i class="icon-plus icon-white pull-right"></i> Set up a custom game</a>

  </div>
</div>