<div class="container">
  <div class="row">

    <div class="span12">
      <div ng-include="'/app/partials/_game-management-navigation.html'" ng-init="current='join'"></div>
    </div>

    <div class="span8">

      <div class="game-list-box">
        <h2 class="game-list-box-title">Available Open Games</h2>

        <ul class="game-list unstyled">
          <li ng-repeat="matchUuid in publicMatches()" class="game-list-entry" ng-show="publicMatches().length > 0">
            <div ng-include="'/app/partials/_join-match-list-entry.html'"></div>
          </li>

          <li class="game-list-entry" ng-hide="publicMatches().length > 0">
            <a href="#" ng-click="createRandomMatch();$event.preventDefault();" class="game-list-entry-link not-existing-match">
              <img class="game-list-entry-map-thump pull-right" src="/app/images/map-preview-comming-soon.png" />
              <span class="game-list-entry-map-name">{{randomMatchMap.name}}</span>
              <span class="game-list-game-status open-game">Open Game</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span4">
      <div ng-include="'/app/partials/_chat.html'" ng-init="mode='global'"></div>
    </div>

    

  </div>
</div>