<div class="row">
  <div class="span10 offset1" ng-hide="myTurn(playerMatches)|emptyObject">
    <h2 class="section-header">Your Games</h2>
  </div>
  <div class="span6 offset1">
    <div class="game-list-container" ng-hide="myTurn(playerMatches)|emptyObject">
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in myTurn(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

    <div class="game-list-container" ng-hide="pendingInvitations(playerMatches)|emptyObject">
      <h2 class="section-header">Invited to:</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in pendingInvitations(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_join-match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

    <div class="game-list-container" ng-hide="notMyTurn(playerMatches)|emptyObject">
      <h2 class="section-header">Waiting for other players</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in notMyTurn(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

  </div>

  <div class="span3 offset1">
    <a href="#/join" class="new-game-button"><i class="icon-plus icon-white pull-right"></i> New game</a>
  </div>
</div>