<div class="container">
  <div class="row">
    <div class="span12">
      <div ng-include="'/app/partials/_game-management-navigation.html'" ng-init="current='matches'"></div>
    </div>

    <div class="span2">
      <div class="kickstarter-call-to-action">
        <h2 class="kickstarter-title">Help us</h2>
        <p>We'd like to turn this demo into a fully featured game.</p>
        <p><img src="/app/images/heads.png" /></p>
        <p>We need your <a href="http://www.kickstarter.com/projects/904858263/488628316" target="new">support on Kickstarter today</a>!</p>
      </div>
    </div>


    <div class="span6">

      <div class="game-list-box">

        <h2 class="game-list-box-title">Your Active Games ({{countplayerMatches(playerMatches)}})</h2>

        <div ng-hide="playerMatches" class="game-list-loading">
          <span class="spinner"></span> Loading Your Games
        </div>

        <div ng-show="playerMatches && countplayerMatches(playerMatches) == 0" ng-cloak class="no-active-games-warning">
          You have no active games.<br /><a href="#/join">Join an Open Game?</a>
        </div>

        <div ng-show="playerMatches">

          <ul class="game-list unstyled">
            <li ng-repeat="(matchUuid, immediateMatchData) in myTurn(playerMatches)" class="game-list-entry">
              <div ng-include="'/app/partials/_match-list-entry.html'" ng-init="status='current-turn'"></div>
            </li>
            <li ng-repeat="(matchUuid, immediateMatchData) in pendingInvitations(playerMatches)" class="game-list-entry">
              <div ng-include="'/app/partials/_join-match-list-entry.html'" ng-init="status='invitation'"></div>
            </li>
            <li ng-repeat="(matchUuid, immediateMatchData) in notMyTurn(playerMatches)" class="game-list-entry">
              <div ng-include="'/app/partials/_match-list-entry.html'" ng-init="status='waiting'"></div>
            </li>
          </ul>
        </div>


      </div>
    </div>

    <div class="span4">
      <div ng-include="'/app/partials/_chat.html'" ng-init="mode='global'"></div>
    </div>

  </div>
</div>