<div class="row">
  <div class="span6 offset1">
    <h2 class="section-header games-header">Your Turn</h2>
    <div class="game-list-container">
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in myTurn(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_match-list-entry.html'"></div>
        </li>
        <li>
          <a href="#/join" class="new-game-button"><i class="icon-chevron-right icon-white pull-right"></i> Join or create a new game </a>
        <li>
      </ul>
    </div>

    <div class="game-list-container" ng-hide="pendingInvitations(playerMatches)|emptyObject">
      <h2 class="section-header invited-header">Invitations</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in pendingInvitations(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_join-match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

    <div class="game-list-container" ng-hide="notMyTurn(playerMatches)|emptyObject">
      <h2 class="section-header waiting-header">Games waiting</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in notMyTurn(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

    <div class="game-list-container" ng-hide="endedMatches(playerMatches)|emptyObject">
      <h2 class="section-header waiting-header">Ended games</h2>
      <ul class="game-list unstyled">
        <li ng-repeat="(matchUuid, immediateMatchData) in endedMatches(playerMatches)" class="game-list-entry">
          <div ng-include="'/app/partials/_match-list-entry.html'"></div>
        </li>
      </ul>
    </div>

  </div>


  <div class="span4 offset1">
    <div class="chat">
      <h2 class="section-header chat-header">Global chat</h2>
      <ul class="chat-messages-list unstyled" scroll-glue="publicChatMessages">
        <li class="chat-message" ng-repeat="(messageUuid, message) in publicChatMessages">
          <span class="chat-message-author">{{message.author}}:</span><span class="chat-message-text" ng-bind-html-unsafe="message.messageText|autoLink"></span>
        </li>
      </ul>
      <form ng-submit="addChatMessage(chatMessage)" class="chat-input-block">
        <div class="input-append">
          <input type="text" ng-model="chatMessage" class="span3" placeholder="Enter your message" />
          <button class="btn" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>