<div class="row">
  <div class="span6 offset1">
    <p class="specifications-info">These are the raw specifications the game is currently running. We may add better documentation in the future. Please visit the forum for more information and help.</p>
  </div>
  <div class="span11 offset1">
    <h2 class="specifications-header">Action Points</h2>
    <p>You get {{currentRuleSet.apPerTurn}} action points (AP) per turn</p>
    <h2 class="specifications-header">Scoring</h2>
    <p class="spec-description">To win a game you need {{currentRuleSet.pointsForWin}} Points. Here is how to make points:<p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Event</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Capture Drop Zone</td>
          <td>{{currentRuleSet.rewards.captureDropZone}}</td>
        </tr>
        <tr>
          <td>First Attack (in a turn)</td>
          <td>{{currentRuleSet.rewards.attack}}</td>
        </tr>
        <tr>
          <td>Subsequent Kills (in one turn)</td>
          <td>First: 1, Second: 3, Third: 5</td>
        </tr>
      </tbody>
    </table>

    <h2 class="specifications-header">Bullets</h2>
    <p class="spec-description">Units fire a number of bullets each:</p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Bullet</th>
          <th>Accuracy</th>
          <th>Damage Range</th>
          <th>Critical Hit</th>
          <th>Modifiers</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,value) in currentRuleSet.bulletSpecs">
          <td>{{key}}</td>
          <td>{{value.accuracy}}</td>
          <td>{{value.damage.min}} - {{value.damage.max}}</td>
          <td>{{value.critical}}</td>
          <td>
            <div ng-repeat="(type,amount) in value.modifiers">
              {{type}}: {{amount}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="specifications-header">Units</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Unit</th>
          <th>Price</th>
          <th>Attack Cost</th>
          <th>Move Cost</th>
          <th>Movement Points</th>
          <th>Health</th>
          <th>Attack Range</th>
          <th>Bullets</th>
          <th>Returns Fire</th>
          <th>Moves and Fires</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,value) in currentRuleSet.unitSpecs">
          <td>{{value.labels.name}}</td>
          <td>{{value.costs.create}} AP</td>
          <td>{{value.costs.fire}} AP</td>
          <td>{{value.costs.move}} AP</td>
          <td>{{value.mp}}</td>
          <td>{{value.hp}}</td>
          <td>{{value.attackRange.min}} - {{value.attackRange.max}}</td>
          <td>
            comming soon...
            <div ng-repeat="bullet in value.bullets">
              {{bullet}}
            </div>
          </td>
          <td><i class="icon-ok" ng-show="value.returnsFire"></i></td>
          <td><i class="icon-ok" ng-show="value.movesAndFires"></i></td>
          <td>
            <div ng-repeat="tag in value.tags">
              {{tag}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="specifications-header">Terrains</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Terrain Type</th>
          <th>Movement Points Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,value) in currentRuleSet.terrainCosts">
          <td>{{key}}</td>
          <td>
            <div>default: {{value.default}}</div>
            <div>light: {{value.light}}</div>
            <div>heavy: {{value.heavy}}</div>
          </td>
        </tr>
      </tbody>
    </table>

    


  </div>
</div>