body {
  background-color: #000;
}

$gameWidth: 940px;
$gameHeight: 640px;
#game {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -0.5 * $gameWidth;
   margin-top: -0.5 * $gameHeight;
}