

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.section-header {
  font-size: 1.2em;
  margin: 20px 0;
  font-weight: normal;
  color:#999;
}

.games-header {
  background:transparent url('../images/ui-icons/games-icon.png') no-repeat left 45%;
  padding-left:45px;
}

.invited-header, .join-header {
  background:transparent url('../images/ui-icons/join-icon.png') no-repeat left 50%;
  padding-left:45px;
}


.waiting-header {
  background:transparent url('../images/ui-icons/waiting-icon.png') no-repeat left 45%;
  padding-left:45px;
}

.add-header {
  background:transparent url('../images/ui-icons/add-icon.png') no-repeat left 50%;
  padding-left:45px;
}

.opponents-header {
  background:transparent url('../images/ui-icons/users-icon.png') no-repeat left 30%;
  padding-left:45px;
}

.pace-header {
  background:transparent url('../images/ui-icons/pace-icon.png') no-repeat left 50%;
  padding-left:45px;
}

.maps-header {
  background:transparent url('../images/ui-icons/maps-icon.png') no-repeat left 50%;
  padding-left:45px;
}

.chat-header {
  background:transparent url('../images/ui-icons/chat-icon.png') no-repeat left 65%;
  padding-left:45px;
}


.create-game-link-block {
  margin-top:50px;
}

.join-block {
  margin-top:50px;
}


.main-navigation {
  position:absolute;
  top:10px;
  left:10px;
  z-index: 999;
  .main-navigation-entry {
    display:none;
    &:first-child {
      display:block;
    }
    .main-navigation-entry-link {
      display:block;
      padding:15px 20px;
      cursor:pointer;
      color:#FFF;
      font-weight:bold;
      background-color: rgba(150,200,255,0.8);
      &:hover {
        background-color: rgba(120,180,230,1);
      }
      .main-navigation-entry-label {
        margin-left: 10px;
        display: none;
      }
    }
  }
  &:hover {
    .main-navigation-entry {
      display:block;
      background-color: rgba(150,200,255,1);
    }
    .main-navigation-entry-link {
      .main-navigation-entry-label {
        display: inline;
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.new-game-button, .create-custom-game-link, .create-game-link {
  display:block;
  background-color: #8FBE00;
  padding:15px 20px;
  color:#FFF;
  font-weight: bold;
  &:hover {
    background-color: #84ab00;
    color:#FFF;
  }
}

.waiting-for-label {
  color:#999;
  display: block;
}

.pace-label {
  display: block;
}

.game-list-container {
  margin:0 0 30px 0;
}

.game-list {
  background-color: #F6F6F6;
}

.no-games-warning {
  background-color: #F6F6F6;
  padding:55px 20px;
  color:#999;
  text-align:center;
}

.game-list-entry {

}

.game-list-entry-link {
  display:block;
  padding:15px 20px;
  .action {
    display:none;
  }
  &:hover {
    background-color: #00B2DE;
    color:#FFF;
    .action {
      display:block;
    }
  }
}

#action-control {
  position: absolute;
  width: 400px;
  height: 25px;
  top: 0px;
  left: 50%;
  margin-left: -200px;
  background: white;
  z-index: 500;
  text-align: center;
  overflow: hidden;

  h4 {
    margin: 0;
  }

  input {
    width: 90%;
  }

  &:hover {
    height: 50px;
  }
}

.pace-tabs, .map-tabs, .game-type-tabs {
  margin:0;
}

.game-type-tabs {
  margin-bottom: 20px;
}

.pace-tab, .map-tab, .game-type-tab {
  display: inline-block;
  padding:10px 20px;
  background-color: #FFF;
  margin:0px;
  background-color:#F6F6F6;
  cursor:pointer;
}

.pace-tab.active, .map-tab.active, .game-type-tab.active {
  background-color: #00B2DE;
  color:#FFF;
}

.map-list {
  background-color:#F6F6F6;
  padding:10px;
}

.map-list-entry {
  display: inline-block;
  height:100px;
  width:150px;
  line-height: 100px;
  margin: 10px;
  background-color: #FFF;
  text-align: center;
  .map-list-entry-link {
    display:block;
    height:100px;
  }
  &.active {
    background-color: #00B2DE;
    font-weight: bold;
    text-decoration: none;
    a {
      color: #eeeeee;
    }
  }
}

.custom-map-form {
  background-color: #F6F6F6;
  padding:30px;
}

.friends-list {
  background-color: #F6F6F6;
  padding:10px 20px;
  margin-top: -20px;
}

.friends-list-header {
  font-size: 1em;
  margin:0;
}

.friends-list-entry {
  margin:8px 0;
}

.friends-list-tip {
  font-style: italic;
  font-size: 0.9em;
  color:#666;
  margin-top: 15px;
}



.chat-message-author {
  display:block;
  color:#999;
}

.chat-message-text {
  display:block;
  margin-left:10px;
}

.chat-messages-list {
  height:300px;
  overflow:scroll;
  border:1px solid #DDD;
  padding:0 10px;
}

.chat-message {
  margin:10px 0;
}