

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color:#FFF;
}

h2 {
  line-height:1.3em;
}


.section-header {
  font-size: 1.2em;
  margin: 20px 0 10px 0;
  font-weight: normal;
  color:#999;
}

.join-block {
  margin-top:50px;
}

.horizontal-nav {
  padding:30px 0 0 0;
}

.main-navigation {
  position:absolute;
  top:10px;
  left:10px;
  z-index: 999;
  .main-navigation-entry {
    display:none;
    &:first-child {
      display:block;
    }
    .main-navigation-entry-link {
      display:block;
      padding:15px 20px;
      cursor:pointer;
      color:#FFF;
      font-weight:bold;
      background-color: rgba(150,200,255,0.8);
      &:hover {
        background-color: rgba(120,180,230,1);
      }
      .main-navigation-entry-label {
        margin-left: 10px;
        display: none;
      }
    }
  }
  &:hover {
    .main-navigation-entry {
      display:block;
      background-color: rgba(150,200,255,1);
    }
    .main-navigation-entry-link {
      .main-navigation-entry-label {
        display: inline;
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.create-custom-game-link, .create-game-link {
  display:inline-block;
  background-color: #8FBE00;
  padding:15px 25px;
  color:#FFF;
  font-weight: bold;
  font-size:1.1em;
  box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  &:hover {
    background-color: #84ab00;
    color:#FFF;
  }
}

.call-to-action {
  margin-bottom:20px;
}

.waiting-for-label {
  color:#999;
  display: block;
}

.game-list {
  margin:0px;
  padding:0px;
}

.game-list-loading {
  color:#666;
  text-align:center;
  padding:60px 0;
  border:1px solid #DDD;
  .spinner {
    margin-right:0.5em;
    vertical-align:-25%;
  }
}

.no-active-games-warning {
  color:#666;
  text-align:center;
  padding:60px 0;
  background-color:#EEE;
  a {
    text-decoration:underline;
  }
}

.kickstarter-call-to-action {
  p {
    color:#999;
    padding-right:15px;
  }
  a {
    text-decoration:underline;
  }
}

.game-list-box-title {
  font-size: 1em;
  margin:0 0 0 0;
  padding:6px 0px;
  color:#333;
  font-weight:bold;
}

.kickstarter-title {
  font-size: 1em;
  margin:0 0 0 0;
  padding:6px 0px;
  color:green;
  font-weight:bold;
}

.chat-box-title {
  font-size: 1em;
  margin:0 0 0 0;
  padding:6px 0px;
  color:#333;
  font-weight:bold;
}

.map-box-title {
  font-size: 1em;
  margin:0 0 0 0;
  padding:6px 0;
  color:#333;
  font-weight:bold;
}


.no-games-warning {
  background-color: #F6F6F6;
  padding:55px 20px;
  color:#999;
  text-align:center;
}

.game-list-entry {
  margin-bottom:1px;
  &:last-child {
    //border-bottom:0px solid #DDD;
  }
}

.game-list-entry-link {
  display:block;
  height:70px;
  padding:15px;
  background-color:#EEE;
  border-left:10px solid #DDD;
  &.current-turn {
    border-left:10px solid #8FBE00;
    background-color:#F9F9F9;
  }
  &:hover {
    border-width:20px;
  }
}

.game-list-game-status {
  &.your-turn {
    background-color:#8FBE00;
    color:#FFF;
  }
  &.game-finished {
    background-color:#666;
    color:#FFF;
  }
  &.open-game {
    background-color:#392DBC;
    color:#FFF;
  }
  border-radius:3px;
  padding:3px 8px;
  margin-left:5px;
  font-size:0.8em;
  font-weight:bold;
  text-transform:uppercase;
}


.game-list-entry-map-thump {
  border-radius:3px;
  width:70px;
  height:70px;
  background-color:#CCC;
  border-width:0px;
  display:none;
}

.game-list-entry-map-name {
  font-weight: bold;
  color:#000;
}


.game-list-entry-player-list {
  display:block;
  margin-top:12px;
}

.game-list-entry-player-list-entry {
  margin-right:10px;
  color:#333;
}

.game-list-entry-player-list-avatar {
  width:30px;
  height:30px;
  vertical-align: bottom;
  border-radius:15px;
  border-width:0px;
  display:none;
}

.action-control {
  position:absolute;
  top:70px;
  left:10px;
  z-index: 499;
  overflow: hidden;
  padding:15px 20px;
  background-color: rgba(180,180,180,0.8);
  input {
    width: 300px;
  }
  .action-control-slider {
    display:none;
    margin-left: 20px;
  }
  &:hover {
    background-color: rgba(180,180,180,1);
    .action-control-slider {
      display:inline-block;
    }
  }
}


.in-game-chat-toggle {
  position:absolute;
  top:130px;
  left:10px;
  z-index: 499;
  overflow: hidden;
  padding:15px 20px;
  background-color: rgba(180,180,180,0.8);
  &:hover {
    background-color: rgba(180,180,180,1);
  }
  &.un-read-messages {
    background-color: rgba(250,120,180,1);
  }
}

.in-game-chat {
  position:absolute;
  top:130px;
  left:70px;
  width:250px;
  z-index: 450;
  .chat-box-title {
    display:none;
  }
}

.pace-tabs, .map-tabs, .game-type-tabs, .chat-type-tabs {
  margin:0;
}

.game-type-tabs {
  margin-bottom: 20px;
}

.pace-tab, .map-tab, .game-type-tab , .chat-type-tab {
  display: inline-block;
  padding:10px 20px;
  background-color: #FFF;
  margin:0px;
  background-color:#F6F6F6;
  cursor:pointer;
  &.active {
    background-color: #00B2DE;
    color:#FFF;
  }
}

.chat-type-tab.disabled {
  color: #DDD;
}


.map-list {
  margin-bottom:20px;
}

.map-list-entry {
  display: inline-block;
  width:150px;
  margin: 0 10px 10px 0;
  background-color: #FFF;
  text-align: center;
  .map-list-entry-link {
    display:block;
    padding:50px 5px;
    border:1px solid #DDD;
  }
  &.active {
    background-color: #00B2DE;
    font-weight: bold;
    text-decoration: none;
    a {
      color: #eeeeee;
    }
  }
}

.custom-map-form {
  background-color: #F6F6F6;
  padding:30px;
}

.friends-list {
  background-color: #F6F6F6;
  padding:10px 20px;
  margin-top: -20px;
}

.friends-list-header {
  font-size: 1em;
  margin:0;
}

.friends-list-entry {
  margin:8px 0;
}

.friends-list-tip {
  font-style: italic;
  font-size: 0.9em;
  color:#666;
  margin-top: 15px;
}




.chat-message-author {
  display:block;
  color:#999;
}

.chat-message-text {
  display:block;
  margin-left:10px;
  word-wrap:break-word;
  img {
    max-width: 200px;
  }
}

.chat-messages-list {
  height:300px;
  overflow:scroll;
  border:1px solid #DDD;
  padding:0 10px;
  margin:0px;
  background-color:rgba(255,255,255,0.9);
}

.chat-message {
  margin:10px 0;
}

.chat-message-loading {
  color:#666;
  text-align:center;
  height:300px;
  line-height:300px;
  .spinner {
    margin-right:0.5em;
    vertical-align:-25%;
  }
}

.loading-app {
  color:#666;
  text-align:center;
  height:300px;
  line-height:300px;
  .spinner {
    margin-right:0.5em;
    vertical-align:-25%;
  }
}

.chat-input-block {
  background-color:#666;
  padding:10px 10px 1px 10px;
  margin:0px;
}



.enhanced-wars-logo {
  margin-top:20px;
}


#game {
   background:#000 url('..image/s/splash.jpg') no-repeat center top;
}

.video {

  iframe {
    margin:0px auto;
    background-color:#000;
  }
}

.specifications-info {
  font-size:1em;
  line-height:1.5em;
  margin:20px 0;
}

.specifications-header {
  margin:30px 0 10px 0;
  font-size:1em;
  padding:5px 15px;
  background-color:#eee;
}

.spec-description {
  color:#999;
}


.fontpage-header {
  background:transparent url('../images/headerbackground.png') repeat left top;
  height:240px;
}

.logo-image {
  width:380px;
  height:230px;
  text-indent:-600px;
  overflow:hidden;
  background:transparent url('../images/ewlogo3d.png') no-repeat left top;
}

.trailer {
  background-color:#000;
  padding:20px;
  margin-top:-50px;
  border-radius:5px;
  margin-bottom:30px;
  box-shadow:0px 1px 2px rgba(0,0,0,0.3);
}


.big-front-page-link-box {
  &.explosion { 
    background:transparent url('../images/explosion.png') no-repeat right top;
  }
  height:240px;
  padding-top:75px;
}

.login-button {
  display:block;
  background-color: #FFF;
  height:70px;
  color:#09F;
  border-radius:3px;
  text-align:center;
  box-shadow:0px 1px 2px rgba(0,0,0,0.7);
  border:2px solid #FFF;
  strong {
    color:#09D;
    text-decoration:underline;
    display:block;
    margin:15px 0px 5px;
    font-size:1.4em;
    font-weight: bold;
  }
  &:hover {
    background-color: #FF9;
    color:#09F;
  }
}

.kickstarter-link {
  display:block;
  background:#FFF url('../images/kickstarter.png') no-repeat center 15px;
  height:70px;
  line-height:100px;
  color:#09F;
  border-radius:3px;
  text-align:center;
  box-shadow:0px 1px 2px rgba(0,0,0,0.7);
  border:2px solid #FFF;
  &:hover {
    background-color: #FF9;
    color:#09F;
  }
}


.frontpage-teaser-text {
  margin-top:30px;
  font-size:1em;
  line-height:1.5em;
  color:#666;
  a {
    font-weight:bold;
    text-decoration:underline;
  }
}

.login-prompt {
 
}

.frontpage-links {
  margin-top:20px;
  a {
    display:inline-block;
    font-weight:normal;
    padding:5px 0px;
    margin-bottom:3px;
    color:#666;
    text-decoration:none;
    i {
      margin-right:0.5em;
    }
    &:hover {
      margin-left:5px;
    }
  }
}










/* ==========================================================================
   John's spinner
   ========================================================================== */


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Styles for old versions of IE */
.spinner {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  -webkit-animation: spinner 1250ms infinite linear;
  -moz-animation: spinner 1250ms infinite linear;
  -ms-animation: spinner 1250ms infinite linear;
  -o-animation: spinner 1250ms infinite linear;
  animation: spinner 1250ms infinite linear;
  border: 6px solid rgba(0, 0, 0, 0.5);
  border-right-color: transparent;
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
}






/* ==========================================================================
   flexible video embeds
   ========================================================================== */

.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}